/*Main colors and initial setup*/
:root {
    --primary:#BFF6A7;
    --secondary:#F6E6A7;
    --accent:#BCD490;
    --dark:#757255;
    --light:#e9e9b7b0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    color: black;
}

/* main body divs */
.mainContainer {
    margin-left: 8em;
    background-color:var(--light);
    border-radius: 20px;
}

.mainSection {
    min-height: 20em;
}

#profile {
    border-radius: 10em;
    width: 30%;
    max-width: 15em;
    min-width: 5em;
    display: inline;
    float: right;
    margin-right: 5%;
}

p {
    display: block;
}

header {
    font-size: 3em;
    text-align: center;
}

a {
    color: var(--dark);
}

iframe {
    width: 70vw;
    height: 1000px;
}

.center {
    max-width: fit-content;
    margin: auto;
}

/*Nav bar and links*/
#navBar {
    height: 45%;
    position: fixed;
}

.navigation {
    background-color: var(--light);
    position: fixed;
    font-size: 1em;
    width: fit-content;
    margin-bottom: 4em;
}

.navigation div {
    background-color: var(--light);
    text-align: left;
    margin-bottom: 0.5em;
    border-radius: 0.1em;
    width: 7em;
    transition: background-color 500ms;
}

.navigation div a {
    color:black;
    width: 20em;
}

button {
    background-color: dimgray;
}

/*background*/

body {
    background-image: url(Images/BG.png);
}