/*Main colors and initial setup*/
:root {
    --primary:#8f8d75;
    --secondary:#718073;
    --accent:#b46422;
    --dark:#292823;
    --light:#ece6e4;
    font-family: 'Open Sans', sans-serif;
    font-size: 2vmax;
    color: var(--dark);
}

/* main body divs */
.mainSection {
    margin-left: 8em;
    margin-top: 5em;
    height: 30em;
}

img {
    border-radius: 5px;
    float: right;
    padding: 1em;
}

p {
    display: inline;
    color: var(--dark);
}

header {
    font-size: 3em;
}

a {
    color: var(--dark);
}

/*Nav bar and links*/
.navigation {
    position: fixed;
    font-size: 1em;
    width: 100%;
    height: 50%;
}

.navigation div {
    background-color: var(--light);
    text-align: left;
    margin-bottom: 1PX;
    border-radius: 0.1em;
    width: 7em;
    transition: background-color 500ms;
}

.navigation div a {
    color:var(--dark);
    width: 20em;
}

button {
    background-color: dimgray;
}
